<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.timetodink.dipl.sjzb147.itzstevo.timetodrink" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.premission.SET_ALARM" />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/water"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calculator"
            android:label="Calculator"
            android:screenOrientation="portrait">
            <!-- omogućava da se iz drugog activitja vratim u parent iliti main-->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Alarm"
            android:label="Alarm"
            android:screenOrientation="portrait">
            <!-- omogućava da se iz drugog activitja vratim u parent iliti main-->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Chart"
            android:label="Chart"
            android:screenOrientation="portrait">
            <!-- omogućava da se iz drugog activitja vratim u parent iliti main-->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>

        </activity>
        <activity
            android:name=".ListFromDB"
            android:label="Info List"
            android:screenOrientation="portrait">

            <!-- omogućava da se iz drugog activitja vratim u parent iliti main-->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <receiver android:name=".RebootDevice"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotifyMe"/>
        <service
            android:name=".RebootAlarms"
            android:enabled="true"/>

    </application>

</manifest>
